
if SHIELD_ZENSPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "The ZenSplit"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ZENSPLIT_LEFT || SHIELD_ZENSPLIT_RIGHT
config ZMK_SPLIT
    default y
endif
